body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* 添加了背景颜色 */
}

iframe {
  width: 100%;
  height: 500px;
}

.Notes {
  word-break: break-all; /* 或者使用 overflow-wrap: break-word; */
  border: 1px solid #ccc; /* 添加了边框 */
  border-radius: 5px; /* 添加了圆角 */
  padding: 10px; /* 添加了内边距 */
  margin-bottom: 20px; /* 添加了外边距 */
  background-color: #fff; /* 添加了背景颜色 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 添加了阴影 */
}

.Notes h3 {
  color: #333; /* 修改了标题颜色 */
  font-size: 1.2rem; /* 修改了标题字体大小 */
  margin-bottom: 10px; /* 添加了标题下方的外边距 */
}

.Notes h5 {
  color: red; /* 修改了副标题颜色 */
  font-size: 1rem; /* 修改了副标题字体大小 */
}

footer {
  background-color: #333; /* 添加了背景颜色 */
  color: #fff; /* 修改了文字颜色 */
  padding: 20px; /* 添加了内边距 */
  text-align: center; /* 修改了文本对齐方式 */
}

footer p {
  margin: 0; /* 清除段落的默认外边距 */
}

a {
  color: grey; /* 修改链接颜色 */
  text-decoration: none; /* 清除链接下划线 */
  padding: 5px; /* 添加内边距 */
  border-radius: 5px; /* 添加圆角 */
  transition: background-color 0.2s ease; /* 添加过渡效果 */
}

a:hover {
  background-color: #f2f2f2; /* 鼠标悬停时修改背景颜色 */
}

a {
  color: grey; /* 修改链接颜色 */
  text-decoration: none; /* 清除链接下划线 */
  padding: 5px; /* 添加内边距 */
  border-radius: 5px; /* 添加圆角 */
  transition: background-color 0.2s ease; /* 添加过渡效果 */
  font-size: 18px; /* 添加字体大小 */
}


@media screen and (max-width: 767px) {
  iframe {
    height: 400px;
  }
}
